body{
font-family: Arial;
background:#f2f2f2;
text-align:center;
}

.container{
display:flex;
justify-content:center;
gap:40px;
margin-top:20px;
}

.form{
background:white;
padding:20px;
width:300px;
border-radius:10px;
}

.resume{
display:flex;
width:600px;
background:white;
border-radius:10px;
overflow:hidden;
}

.left{
width:35%;
background:#2c3e50;
color:white;
padding:20px;
text-align:center;
}

.right{
width:65%;
padding:20px;
text-align:left;
}

img{
width:120px;
height:120px;
border-radius:50%;
margin-bottom:10px;
}

input,textarea{
width:100%;
margin:8px 0;
padding:8px;
}

button{
background:#3498db;
color:white;
border:none;
padding:10px;
margin:5px;
cursor:pointer;
border-radius:5px;
}

a{
color:white;
word-break:break-all;
}